<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <table>
        <tr>
          th>Booking ID</th>
          <th>User ID</th>
          <th>Type ID</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
        
        <tr>
          
            <tr>
                <td><%= bookings.Booking_id %></td>
                <td><%= bookings.User_id %></td>
                <td><%= bookings.Type_id %></td>
                <td><%= bookings.Room %></td>
                <td>
                    <a href="http://localhost:5500/Booking/update/<%= bookings.Booking_id %>">Edit</a>
                    <a href="http://localhost:5500/Booking/delete/<%= bookings.Booking_id %>">Delete</a>
        </tr>
    </table>
    <a href="http://localhost:5500/Booking">Back</a>
</body>
</html>