<!-- Room.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>View Room</h1>
    <table class="Show_Room">
      <tr>
        <th>Type_id</th>
        <th>Type_Name</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><%= Room.Type_id %></td>
        <td><%= Room.Type_Name %></td>
        <td><%= Room.Price %></td>
      </tr>
    </table>
    <div class="link-center">
      <a href="/update/<%= Room.Type_id %>">Edit</a>
      <a href="/delete/<%= Room.Type_id %>">Delete</a>
      <a href="/">Back to List</a>
    </div>
  </body>
</html>
